{% extends 'base.html' %}


{% block contenido %}
	<h1>SOY HOME DE NOTICIAS</h1>

	{{fecha}}

	{% for n in noticias %}
		<div>
			<p><strong>TITULO:</strong>{{n.titulo}}</p>
			<p><strong>CONTENIDO:</strong>{{n.contenido}}</p>
			<a href="{% url 'noticias:detalle_noticia' n.pk %}">
			<p><img src="{{n.imagen.url}}" width="150px"></p>
			</a>
			<a href="{% url 'noticias:detalle_noticia' n.pk %}">Ver mas</a>
			<a href="{% url 'noticias:modificar_noticia' n.pk %}">Modificar</a>
			<a href="{% url 'noticias:borrar_noticia' n.pk %}">Borrar</a>
		</div><hr><hr>
	{% endfor %}
{% endblock contenido %}