{% extends 'base.html' %}
{%load static%}
{% block contenido %}
	<div class="login-box">
		<form method="POST">{%csrf_token%}
			{{form.errors}}
			<div class="form-group">
				<label for="usuario">Usuario</label>
				<input type="text" class="form-control" id="usuario" name="username" placeholder="Usuario">
			</div>
			<div class="form-group">
				<label for="contrasena">Contraseña</label>
				<input type="password" class="form-control" id="contrasena" name="password" placeholder="Password" >
			</div>
			<div>
				<button type="submit" class="btn btn-primary btn-block mt-3" name="" value="ENVIAR">Iniciar Sesión</button>

			</div>
		</form>
	</div>
{% endblock %}