{% extends 'base.html' %} {%load static%} {% block contenido %}

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{{ user.picture.url }}" alt="Imagen de Perfil" class="rounded-circle img-fluid" style="max-width: 150px; max-height: 150px;object-fit: cover;">
                            <h2 class="mt-3">Nombre: {{ user.first_name }} {{ user.last_name }}</h2>
                            <p class="fw-bold">Usuario: {{ user.username }}</p>
                            <p>Bio: {{ user.bio }}</p>
                        </div>
                        
                        <ul class="nav nav-tabs mt-4">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts">Posts({{noticias_user|length}})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments">Comentarios({{comentarios_user|length}})</a>
                            </li>
                        </ul>
                        
                        <div class="tab-content mt-3">
                            <div class="tab-pane fade show active" id="posts">
                                <!-- Contenido de la pestaña de posts -->
                                
                                {% for n in noticias_user %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <a href="{% url 'noticias:detalle_noticia' n.pk %}">
                                                <h5 class="card-title">{{ n.titulo }}</h5>

                                            </a>
                                            <p class="card-text">Creado: {{n.creado}} - Ultima modificacion: {{n.modificado}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="comments">
                                <!-- Contenido de la pestaña de comentarios -->
                                {% for comentario in comentarios_user %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p class="card-text">Comentó: {{ comentario.contenido |slice:":100"}}...</p>
                                            <p class="card-text">Fecha:{{comentario.fecha_creacion}}</p>
        

                                            <a href="{% url 'noticias:detalle_noticia' comentario.noticia.pk %}">
                                                <p class="card-text">Post: {{comentario.noticia}}</p>

                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% endblock contenido %}