{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  <form method="post">
    {% csrf_token %}
    <section class="h-100 gradient-form" style="background-color: #eee">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-6">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="{% static 'img/logo.png' %}" style="width: 120px" alt="logo" />
                    <h4 class="mt-1 mb-5 pb-1">Blogsito</h4>
                  </div>

                  <p>Ingresa tu dirección de correo electrónico y sigue las instrucciones para restablecer tu contraseña.</p>

                  {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
                  {% endif %}

                  <div class="form-outline mb-4">
                    <label for="{{ form.email.id }}">Correo Electrónico</label>
                    <input type="email" class="form-control" id="{{ form.email.id }}" name="email" placeholder="Correo Electrónico" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1 d-grid gap-2">
                    <button class="btn btn-primary border shadow gradient-custom-2 mb-3" value="ENVIAR" type="submit">Restablecer Contraseña</button>
                    <a class="text-muted" href="{% url 'login' %}">Volver a Iniciar Sesión</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
{% endblock %}