{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  <section class="h-100 gradient-form" style="background-color: #eee">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="{% static 'img/logo.png' %}" style="width: 120px" alt="logo" />
                    <h4 class="mt-1 mb-5 pb-1">Blogsito</h4>
                  </div>

                  <p>Hemos enviado instrucciones de restablecimiento de contraseña a tu correo electrónico. Por favor, sigue las instrucciones proporcionadas en el correo electrónico para restablecer tu contraseña.</p>

                  <div class="text-center pt-1 mb-5 pb-1 d-grid gap-2">
                    <a class="btn btn-primary border shadow gradient-custom-2 mb-3" href="{% url 'login' %}">Volver a Iniciar Sesión</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Bienvenido al Portal Climático: Tu Fuente de Conciencia Ambiental</h4>
                  <p class="small mb-0">¡Hola, amante del planeta! En el Portal Climático, nos apasiona proporcionarte las últimas noticias e información sobre el cambio climático para que estés siempre informado y empoderado para tomar medidas. Nuestro compromiso con la conciencia ambiental es inquebrantable, y queremos que formes parte de esta comunidad dedicada a la protección de nuestro hogar compartido: la Tierra.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}