{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  <section class="h-100 gradient-form" >
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-6">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="{% static 'img/logo.png' %}" style="width: 120px" alt="logo" />
                    <h4 class="mt-1 mb-5 pb-1">Blogsito</h4>
                  </div>

                  <p>Hemos enviado instrucciones de restablecimiento de contraseña a tu correo electrónico. Por favor, sigue las instrucciones proporcionadas en el correo electrónico para restablecer tu contraseña.</p>

                  <div class="text-center pt-1 mb-5 pb-1 d-grid gap-2">
                    <a class="btn btn-primary border shadow gradient-custom-2 mb-3" href="{% url 'login' %}">Volver a Iniciar Sesión</a>
                  </div>
                </div>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    body,
    footer {
      background: #8a2387; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
      background: linear-gradient(to right, #f27121, #e94057, #8a2387);
    }
  </style>
{% endblock %}