{% extends 'base.html' %} {% load static %} {% block contenido %}
  <section class="h-100 gradient-form" style="background-color: #eee">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <form action="" method="post">
                    {% csrf_token %}
                    <p class="fw-bold text-center">Registrese, por favor</p>

                    <div class="form-outline mb-2 text-start">
                      {% for field in form %}
                        <div class="form-label text-start">{{ field.label_tag }}</div>
                        <div class="">{{ field }}</div>
                        {% comment %} {% if field.help_text %}
                          <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %} {% endcomment %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                          <p style="color: red">{{ help }}</p>
                        {% endfor %}
                      {% endfor %}
                    </div>
                    <div class="text-center pt-1 mb-3 d-grid gap-2">
                      <button class="btn btn-primary border shadow gradient-custom-2 mb-3" value="Confirmar" type="submit">Crear Cuenta</button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Ya tienes una cuenta?</p>
                      <a type="button" class="btn shadow btn-outline-danger opacity-60" href="{% url 'login' %}">Inicia Sesión</a>
                    </div>
                    <div class="d-flex justify-content-center">                     
                      <a class=" text-muted" href="{%url 'Inicio'%}">Volver al inicio</a>
                   </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Bienvenido al Portal Climático: Tu Fuente de Conciencia Ambiental</h4>
                  <p class="small mb-0">¡Hola, amante del planeta! En el Portal Climático, nos apasiona proporcionarte las últimas noticias e información sobre el cambio climático para que estés siempre informado y empoderado para tomar medidas. Nuestro compromiso con la conciencia ambiental es inquebrantable, y queremos que formes parte de esta comunidad dedicada a la protección de nuestro hogar compartido: la Tierra.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}