{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>INFORMATORIO</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
	<h1 class="titulo">MENU</h1>
	<img src="{% static 'img/logo.png' %}" width="150px">
	<ul>
		<li><a href="{% url 'Inicio' %}">Home</a></li>
		<li><a href="{% url 'Contacto' %}">Contacto</a>
		</li>
		<li><a href="{% url 'noticias:h_noticias' %}">NOTICIAS</a></li>
		<li><a href="{% url 'noticias:cargar_noticia' %}">CREAR</a></li>
	</ul>

	{% block contenido %}

	{% endblock contenido %}

</body>
</html>