{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<header class="mosthead img-fluid position-relative"
  style="background-image: url('{% static 'img/img03.jpg' %}');">
  <div class=" container position-relative px-4 px-lg-5">
    <div class="overlay"></div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading text-center">
          {% if user.is_authenticated %}
          <h1 class="fw-bolder" style="color: white;">{{ user.username }}
            Bienvenido al Portal climático </h1>
          {% else %}
          <h1 class="fw-bolder" style="color: white;">Bienvenido al Portal
            climático </h1>
          {% endif %}
          <p class="lead mb-0 " style="color: rgb(0, 0, 0);">Este es el sitio
            perfecto para encontrar noticias del cambio climatico, ven y aprende
            con nosotros</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div>

  <section id="scroll">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5"><img class="img-fluid rounded-circle"
              src="{% static 'img/img01.jpg' %}" alt="..." /></div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">¡Explora el Portal Climático!</h2>
            <p>Descubre las últimas noticias e información sobre el cambio
              climático para mantenerte informado y empoderado. En el Portal
              Climático, estamos comprometidos con la conciencia ambiental y te
              invitamos a ser parte de esta comunidad dedicada a la protección
              de nuestro hogar compartido: la Tierra.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5"><img class="img-fluid rounded-circle"
              src="{% static 'img/img02.jpg' %}" alt="..." /></div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Te damos la bienvenida</h2>
            <p>Somos un grupo apasionado de programadores que cree en el poder
              de la información y la educación como catalizadores para lograr un
              cambio significativo en la lucha contra el cambio climático. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección 3 -->
  <section>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle"
              src="{% static 'img/img04.jpg' %}" alt="..." />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">¡Unete a la aventura!</h2>
            <p>Trabajamos incansablemente para contribuir a un futuro más
              sostenible y resiliente para nuestro preciado planeta. Únete a
              nosotros en esta misión crucial y descubre cómo cada pequeña
              acción puede marcar la diferencia.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock contenido %}
