{%extends 'base.html'%} 
{%block contenido%}
<div>
    <h1>Acerca de nosotros</h1>
    <h2>Hola! Somos blogsito, un sitio web donde vas a poder informarte sobre 
        noticias del cambio climatico.
    </h2>
    <p>Nuestro objetivo es informar y educar a la sociedad sobre la realidad del cambio climático,
         destacando la necesidad imperiosa de aprender como  cuidar nuestro planeta.
         A través de la investigación científica y la colaboración con expertos en sostenibilidad. </p>
    <br>
    <p>Nuestro blog aboga por la adopción de prácticas sostenibles, el fomento de energías renovables
         y la implementación de políticas que reduzcan las emisiones de gases de efecto invernadero. Además,
          trabajamos para inspirar cambios en el comportamiento individual, fomentando estilos de vida 
          respetuosos con el medio ambiente y promoviendo la conservación de nuestros recursos naturales.</p>
    <br>
    <p>¡Todos podemos ser parte del cambio!</p>
    <p>Animate a ser parte de el con nosotros.
    </p>
</div>
{%endblock contenido%}
