body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Muestra los elementos en línea */
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav a:hover {
    color: #3498db;
}

.noticias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.noticia {
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.noticia:hover {
    transform: scale(1.05);
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-noticia {
    padding: 20px;
}

.info-noticia h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.info-noticia p {
    margin-bottom: 15px;
    line-height: 1.4;
    color: #666;
}

.info-noticia a {
    display: inline-block;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.info-noticia a:hover {
    background-color: #2980b9;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}
